/*My profile, Auth forms*/
/************************************************************************************/
.profile-wrap, .auth-wrap {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: var(--margin);
}

.profile-main, .auth-main {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: var(--gap);
    padding: var(--padding);
    background-color: var(--color-tertiary);
}

.profile-wrap .profile-field, .auth-field {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
    font-size: var(--table-font-size);
    gap: var(--gap-small);
}
.profile-field span, .auth-field span {
    color: var(--color-fail);
    font-size: var(--font-size-err);
    margin: var(--margin-small) auto;
    text-align: center;
}

.profile-wrap .profile-field input, .auth-field input {
    padding: var(--padding);
    border: none;
}

.profile-field button, .auth-field button {
    width: 100%;
    margin: var(--margin) auto;
    padding: var(--padding);
    border: none;
    cursor: pointer;
    background-color: var(--color-primary);
    color: var(--color-tertiary);
}
