/*Search bar*/
/************************************************************************************/
.search-bar-wrap{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.search-bar-wrap form input {
    padding: var(--padding);
    margin: var(--margin);
    background-color: var(--color-tertiary);
    border: none;
}

.search-bar-wrap form input::placeholder {
    color: var(--color-primary);
    font-family: "Poppins", sans-serif;
}
